@import url('https://fonts.googleapis.com/css2?family=Figtree:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Figtree', sans-serif;
}

body {
    background-color: #fff;
}

/* navigation bar styling */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 10px 50px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    box-shadow: 0 4px 6px -1px rgba(0,0,0,0.3);
    z-index: 1050;
}

.logo img {
    height: 50px;
}

.nav-buttons {
    display: flex;
    gap: 10px;
}

.nav-link, .btn {
    background-color: #000000;
    color: white;
    border: none;
    font-size: 14px;
    padding-left: 1.5rem !important;
    padding-right: 1.5rem !important;
    padding-bottom: .25rem !important;
    padding-top: .25rem !important;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
    border-radius: 2px;

}

.nav-link {
    background: none;
    color: black;
}

.user-icon {
    height: 50px;
    vertical-align: middle;
    margin-left: 5px;
}

.btn:hover {
    background-color: #ffffff;
    color: black;
    border: 2px solid black;
}

/* main content styling - Section 1: Featured product, Section 2: Image pairing */

.container {
    position: relative;
    max-width: 1500px;
    margin: auto;
    padding: 40px;
    padding-top: 100px;
}

.featured-product {
    position: relative;
}

.featured-product, .image-pair, .full-page-image {
    margin-bottom: 10px;
    padding: 10px;
}

.display-heat-up {
    font-size: 36px;
}

.overlay-text {
    position: absolute;
    top: 50%;
    left: 42%;
    transform: translate(-50%, -50%);
    width: 80%;
    color: black;
    text-align: left;
    padding: 20px;
}

@media (max-width: 768px) {
    .overlay-text {
        font-size: 16px;
        width: 90%;
    }
}

@media (max-width: 480px) {
    .overlay-text {
        font-size: 14px;
        width: 95%;
    }
}

.featured-product img {
    width: 100%;
    height: auto;
}

.image-pair {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.image-text-container {
    width: 49%;
}

.image-text-container img {
    width: 100%;
    height: auto;
}

.content-description {
    padding: 10px;
    background-color: #ffffff;
    margin-top: 10px;
    text-align: left;
}

.order-now-btn, .join-now-btn, .learn-more-btn {
    padding: 10px 20px;
    background-color: #000000;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

.order-now-btn:hover, .join-now-btn:hover, .learn-more-btn:hover {
    background-color: #ffffff;
    color: black;
    border: 2px solid black;
}

/* end of main content */

.full-page-image img {
    width: 100%;
    height: auto;
}

/* fundraising section */

.fundraising-section {
    text-align: center; 
    padding: 20px; 
    margin-top: 30px;
    background-color: rgb(234, 234, 234);
}  

.fundraising-background img {
    width: 75%; 
    height: auto; 
    display: block; 
    margin: 0 auto; 
}


.fundraising-content h2 {
    font-size: 17px;
    margin: 5px 0; 
    margin-top: 10px;
}

/* section separator */

.separator-image {
    width: 100%; 
    height: auto; 
    display: block; 
}

/* footer styling */

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #ffffff;
}

.footer-logo img {
    height: 100px; 
    padding-left: 25px;
}

.footer-links {
    display: flex;
    flex-direction: column; 
    align-items: center;
    width: 100%;
}

.footer-group {
    margin: 10px 0; 
    text-align: center;
    width: 100%;  
    padding-right: 280px;
}

.footer-group a {
    display: inline-block;  
    margin-right: 20px; 
    color: #000;
    text-decoration: none;
}

.footer-group a:hover {
    text-decoration: underline;
}

/* footer bottom styling */

.footer-bottom {
    background-color: #3a2e2e; 
    color: white; 
    text-align: center; 
    padding: 10px 0; 
    font-size: 14px; 
}

